/***************TAG SELECTORS*************/

h1 {
    color: red;
    font-size: 100px;
}

/*
img {
    background-color: blue;
}
*/

/***************CLASS SELECTORS*************/

.broccoli {
    background-color: red;
}
.bacon {
    background-color: green;
}
/***************ID SELECTORS*************/

#heading {
    color: blue;
}